@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/src/assets/fonts/atkinson-next/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
